* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*não pula muito rápido de uma seção para a outra*/
}

/*Estilização do modo claro na alternância de tema*/
body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #fafafa;
    color: #333;
}

/*Estilização da manipulação de estado para alternância de tema, modo escuro (Dark Mode)*/
body.modo-escuro {
    background-color: #121212 !important;
    background-image: none !important; /*remove o degradê claro */
    color: #fafafa !important;
}

body.modo-escuro section {
    background: #121212 !important; /*não fica o degradê do modo claro*/
}

/*estilização das caixas do modo escuro*/
body.modo-escuro h2, 
body.modo-escuro ul, 
body.modo-escuro form, 
body.modo-escuro #portfolio div {
    background: #1e1e1e !important; /*Cinza um pouco mais claro que o fundo*/
    color: #fafafa !important;
    border-color: #444 !important; /*Borda mais suave para não brilhar no escuro*/
    box-shadow: 4px 13px 5px rgba(0,0,0,0.5) !important;
}

/*Ajusta os textos das listas e h2 no modo escuro*/
body.modo-escuro h2, 
body.modo-escuro li, 
body.modo-escuro li::before {
    color: #fafafa !important;
}

/*Ajusta o formulário no modo escuro*/
body.modo-escuro input, 
body.modo-escuro textarea {
    background-color: #333 !important;
    color: white !important;
    border-color: #555 !important;
}


/*menu*/
nav {
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: #333;
    padding: 10px 0;
    z-index: 9999; /*pra não clipar com os box debaixo no scroll*/
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fafafa; /*letras dos links no menu*/
    margin: 0 10px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav button { /*botão de alterar tema*/
    width: auto;
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 20px;
    border: 2px solid #121212;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    font-size: 16px;
}

nav button:active { /*clique do botão*/
    transform: scale(0.95);
    background-color: #f0f4f3;
}

/*menu estulizado durante o modo escuro*/
body.modo-escuro nav {
    background-color: #fafafa;
}

body.modo-escuro nav a {
    color: #333;
}

/*separar seções*/
section {
    min-height: 100vh; /*100% da tela */
    padding: 80px 20px /*desguda o topo e laterais*/
}

/*primeira section*/
#sobreMim {
    text-align: center; /*centralizado*/
    margin: auto;
    padding: 80px 0;
    background: linear-gradient(to bottom, #ffffff, #e6f7ff);
}

#sobreMim h2, #sobreMim ul {
    display: block;
    margin: auto;
    width: 90%; /*para não cortar no celular/tablet*/
    max-width: 550px;/*a largura de pc*/
    border: 5px #121212 double;
    border-radius: 10px;
    /*border definido e deixando ambos com mesma largura horizontal*/
    background: linear-gradient(-35deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 4px 13px 5px;
    /*background chamativo*/
    transition: all 0.3s ease;
    /*animação do mouse, suave*/
}

/*animação ao passar o mouse*/
#sobreMim h2:hover, #sobreMim ul:hover {
    transform: translateY(-5px);
}

#sobreMim h2 {
    padding: 10px 20px;
    color: #233445;
}

#sobreMim ul {
    list-style-type: none; /*retira bolinhas da lista*/
    padding: 20px;
}

/*simbolo antes da lista*/
#sobreMim ul li{
    text-align: left;
    padding: 5px 0;
}

#sobreMim ul li::before{
    content: "✦";
    color: #233445;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
}

/*section 2*/
#formacao {
    text-align: center;
    margin: auto;
    background: linear-gradient(to bottom, #e6f7ff, #f3eaff);
}

#formacao h2, #formacao ul {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 550px;
    border: 5px #121212 double;
    border-radius: 10px;
    /*border definido e deixando ambos com mesma largura horizontal*/
    background: linear-gradient(-35deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 4px 13px 5px;
    /*background chamativo*/
    transition: all 0.3s ease;
    /*animação do mouse, suave*/
}

/*animação ao passar o mouse*/
#formacao h2:hover, #formacao ul:hover {
    transform: translateY(-5px);
}

#formacao h2 {
    padding: 10px 20px;
    color: #233445;
}

#formacao ul {
   list-style-type: none; /*retira bolinhas da lista*/
    padding: 20px;
}

/*simbolo antes da lista*/
#formacao ul li{
    text-align: left;
    padding: 5px 0;
}

#formacao ul li::before{
    content: "✦";
    color: #233445;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
}

/*section 3*/
#portfolio {
    text-align: center;
    margin: auto;
    background: linear-gradient(to bottom, #f3eaff, #e8fcf5);
}

#portfolio h2 {
    padding: 10px 20px;
    color: #233445;
    display: block;
    margin: auto;
    width: 90%;
    max-width: 550px;
    border: 5px #121212 double;
    border-radius: 10px;
    /*border definido*/
    background: linear-gradient(-35deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 4px 13px 5px;
    /*background chamativo*/
}

/*Container dos 3 projetos*/
.container-projetos {
    display: flex;
    flex-wrap: wrap; /*Faz quebrar a linha no celular*/
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

/*Estilização de cada "Card" de projeto*/
.card-projeto {
    text-decoration: none; /*Remove o sublinhado do link*/
    color: #233445;
    width: 280px;
    padding: 20px;
    border: 3px #121212 solid;
    border-radius: 10px;
    background: linear-gradient(-35deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 4px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-align: center;
}

.card-projeto h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.card-projeto p {
    font-size: 1rem;
    color: #555;
}

/*Efeito ao passar o mouse (Hover)*/
.card-projeto:hover {
    transform: translateY(-10px);
    box-shadow: 4px 15px 20px rgba(0,0,0,0.2);
    border-color: #686de0;
}

/*Ajuste das caixas no modo escuro*/
body.modo-escuro .card-projeto {
    background:#1e1e1e !important;
    color: #fafafa !important;
    border-color: #444 !important;
}

body.modo-escuro .card-projeto p {
    color: #ccc !important;
}

/*section 4*/
#contato {
    text-align: center;
    margin: auto;
    background: linear-gradient(to bottom, #e8fcf5, #ffffff);;
}

#contato form{/*border estilo*/
    display: block;
    margin: auto;
    width: 90%;
    max-width: 550px;
    border: 5px #121212 double;
    border-radius: 10px;
    /*border definido e deixando ambos com mesma largura horizontal*/
    background: linear-gradient(-35deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 4px 13px 5px;
    /*background chamativo*/
}

#contato input[type="text"], #contato input[type="email"], #contato textarea {
    width: 90%;
    padding: 12px;
    border: 2px solid #121212;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    display: block;
    margin: 10px auto 20px auto;
}

#contato button[type="submit"] {
    width: 25%;
    padding: 6px;
    border: 2px solid #121212;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    display: block;
    margin: 10px auto 20px auto;
}

/*feedback do click do botão*/
#contato button[type="submit"]:active {
    transform: scale(0.95);
    background-color: #f0f4f3;
}

#contato button[type="submit"]:hover{
    cursor: pointer;
}

/*footer simples*/
footer {
    padding: 20px 0;
    text-align: center;
}

/*Media Query: responsividade de varias telas para dispositivos móveis*/
@media (max-width: 600px) {
    /* Faz seções de 550px ocuparem quase toda da tela */
    section, .container, nav {
        width: 95% !important;
        margin: 10px auto;
    }

    nav {
        flex-direction: column; /* No celular o menu um embaixo do outro */
        padding: 10px;
    }
}